# Environnement virtuel
.venvo/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# Database and local data
db/
*.db

# MongoDB data directory
/data/mongodb/
data/mongodb/
mongodb/

# VS Code
.vscode/

# Dossiers ou fichiers tests ou sauvegarde
memo.txt
# sauvegarde de la base SQL complète
db_otomo.sql
# exemples de requêtes sql
requetes.sql

# Variables de configuration
config_mongo.py